<div>



    <h1>Important Links</h1>

    <div> <a href="https://v13.material.angular.io/components/tree/examples">angular material components</a></div>
    <div> <a href="https://getcssscan.com/css-box-shadow-examples">box-shadows</a></div>
    <div> <a href="https://dev.to/chintanonweb/mastering-api-requests-the-right-way-in-angular-247o">angular api </a>
    </div>
    <div> <a href="https://www.scaler.com/topics/angular/angular-interceptor/">angular interceptors</a></div>

    <div> <a href="https://medium.com/@anmolion/data-sharing-in-unrelated-components-angular-70ffc53f27ee">angular data
  
    sharing</a>
</div>
<div> <a href="https://medium.com/geekculture/handling-forms-in-angular-f71ee08766b8">angular forms</a></div>


</div>